h1 {
  font-family: arial;
  text-align: center;
  margin-top: 50px;
}

p {
  font-family: courier;
  text-align: center;
}

.container {
  height: 450px;
  width: 1000px;
  margin: auto;
}

.Ex {
 fill: #99eeee;
}  

.Im {
  fill: #ffdddd;
}  

.ExGoods {
  fill: #66bbbb;
}  

.ImGoods {
  fill: #ffaaaa;
}  

.Ex:hover, .Im:hover, .ExGoods:hover, .ImGoods:hover {
  fill: #ffffaa;
}

#tooltip {
  position: absolute;
  opacity: 0;
  padding: 10px;
  border-radius: 15px;
  font-family: arial;
  background-color: #ffffaa;
}
